html,
body {
  font-family: 'Share Tech Mono', monospace !important;
}

header {
  background-color: black !important;
}

h1 {
  font-weight: 900 !important;
}

footer {
  background-color: black;
  color: white;
  height: 100%
}

.main-banner {
  background-image: url('https://raw.githubusercontent.com/xandraco/artech/refs/heads/main/img/setup.webp');
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 45vh;
}

.main-banner-title {
  color: white;
  text-align: center;
  /*font-weight: 900;*/
}